.certifications {
    margin-top: 1%;
    background-color: rgb(244, 247, 247);
    border-radius: 40%;
    margin-bottom: 15%;
    width: 100%;
    display: flexbox;
}


.innerContainer {
   width: 75%;
}
