.Navbar {
  position: fixed; /* or absolute */
  top: 0; /* Adjust this value as needed */
  left: 0; /* Adjust this value as needed */
  width: 100%; /* Assuming full width */
  background-color: rgb(28, 24, 24);
  display: block;
  z-index: 1000;
}



