.Projects {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(240, 248, 245);
    border-radius: 80%;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    color: rgb(94, 47, 55);
}

.Cards {
    background-color: black;
}

.image-notice {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(94, 47, 55);
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.image-notice svg {
    font-size: 12px;
}
