.skills {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30%;
    border-color: black;
    padding-bottom: 50px;
}

h6 {
    margin-top: 20px;
}

.skillsContainer {
    position: relative;
}

.hint {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    color: #555;
}
