.container1 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.leftContent {
    margin-bottom: 20px;
    text-align: center;
}

.rightContent {
    margin-top: 20px;
    text-align: center;
}

.profileImage {
    border-radius: 50%;
    border: 2px solid #fdfcfc;
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    margin-top: -7%;
}

.TitleContents {
    color: aliceblue;
    font-weight: normal;
    text-align: center;
    margin-top: 1%;
}

.Carousel {
    background: url('../images/titleCardLogo.jpg');
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    width: 100%;
}

h2 {
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
}

@media (min-width: 768px) {
    .container1 {
        flex-direction: row;
        align-items: flex-start;
    }

    .leftContent {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
        text-align: left;
    }

    .rightContent {
        text-align: right;
    }
}
